

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link-logo {
  color: var(--logo-button-color);
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 15px;
  margin-right: 76px;
}

.link.list-link.current {
  color: #404bbf;
}

.link.link-logo {
  color: var(--link-hover-color);
  margin: 0 auto;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link .logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--nav-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer {
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: var(--second-white-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 18px;
}

/*Navigaor*/
.header .nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav {
  position: relative;
  color: var(--link-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* List */

.list {
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: row;
}






/* Link */
.link {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

/*Adress*/


/*Index-Main*/
.hero {

}

.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto 48px;

}

/* Button */


  /* Button Text */
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/*Text inside*/
h3 {
  color: var(--nav-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  color: var(--main-grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text {
  color: var(--main-grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  color: var(--nav-color);
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-section {
  color: var(--nav-color);
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 42px;
}

/* Footer */

.footer-text {
  color: var(--second-white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer {
  background-color: var(--nav-color);
  padding: 100px 0;
}

.link-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.foot-logo {
  margin-right: 120px;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.footer-text-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white-color);
  margin-bottom: 16px;
}

.footer-social-media-links {
  display: flex;
  gap: 16px;
}

.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--logo-button-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: var(--footer-social-hover);
}

/* Footer form */

.footer-text-subscribe {
  margin-bottom: 16px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

p.footer-text-subscribe {
  color: var(--main-white-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16p;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid var(--main-white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;

  color: var(--main-white-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.footer-form-input::placeholder {
  color: var(--main-white-color);
}

.subscribe-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;

  border-radius: 4px;
  background: var(--logo-button-color);
  color: var(--main-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

.subscribe-btn-icon {
  margin-left: 16px;
}

/* Portfolio */

.features-item:hover,
.features-item:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-nav {
  padding-top: 96px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.portfolio-cards {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-box {
  position: relative;
  overflow: hidden;
}

.projects-img {
  display: block;
  height: 100%;
  width: 100%;
}

p.overlay-text {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;

  display: flex;
  align-content: flex-start;
  justify-content: center;
  color: var(--second-white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--logo-button-color);
}

.portfolio-cards:hover,
.portfolio-cards:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Buttons links portfolio */
.button-all {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portfolio {
  color: var(--logo-button-color);
  background-color: var(--second-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--second-white-color);
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards:hover .overlay-text,
.portfolio-cards:focus .overlay-text {
  transform: translateY(0%);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* Buttons links portfolio Hover */

.button-all:hover,
.button-all:focus,
.button-all:active {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus,
.button-portfolio:active {
  color: var(--main-white-color);
  background-color: var(--link-hover-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio 9 blocks */
.subhead-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--nav-color);
  margin-bottom: 8px;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-right: 0;
  margin-left: 0;
}

.features-item {
  width: calc((100% - 48px) / 3);
}

.service {
  border: 1px solid #e7e9fc;
  border-top: none;
  background: var(--main-white-color);
  padding: 32px 16px;
}

.main-blocks {
  padding-bottom: 120px;
}

/* Containers */


@media (max-width: 428px) {
  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

/* Header position */

.header .container {
  display: flex;
  align-content: space-between;
  padding-bottom: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .nav {
  display: flex;
  margin-right: auto;
}

.link .adress {
  display: flex;
}

/* Section Our Benefits */



.benefits-section {
  padding: 120px 0;
}


.benefits-item {
  width: calc((100% - 72px) / 4);
}

@media (max-width: 428px) {
  .benefits-item {
    display: flex;
    width: 396px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.benefits-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--second-white-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .benefits-icon-container {
    display: none;
  }
}

ul.list.benefits {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  gap: 24px;
}

@media (max-width: 428px) {
  ul.list.benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
}

.subhead {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

@media (max-width: 428px) {
  .subhead {
    color: var(--nav-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    align-items: center;
  }
}

@media (max-width: 428px) {
  .text-benefits {


  }
}

/* What We Are Doing */



ul.list.offers {
  display: flex;
  gap: 24px;
}

.title-offers {
  color: var(--nav-color);
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.offers-item {
  width: calc((100% - 48px) / 3);
}

/* Our Team */

ul.list.team {

}



  margin-top: 0;
}

.section-four {

  

}


















/* Customers */



.customers {
  max-height: 440px;
  padding-top: 120px;
  padding-bottom: 120px;
}



.custom-list-item {
  display: flex;
  width: calc((100% - 120px) / 6);
  height: 88px;
}





/* Modal Window */

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  display: block;
  padding: 72px 24px 24px 24px;
  gap: 8px;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--link-hover-color);
  border: none;
  fill: #ffffff;
}

.modal-button-icon {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon:hover {
  fill: #ffffff;
}

/* Modal Form */

.modal-title {
  color: var(--nav-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 16px;
}

.modal-form .modal-form-label {
  width: 100%;
}

.input-container {
  position: relative;
  display: flex;
  margin-bottom: 8px;
}

.modal-form {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.form-input {
  height: 40px;
  background: transparent;
  outline: transparent;
  padding-left: 38px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--logo-button-color);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-form-icon {
  fill: var(--logo-button-color);
}

.form-input:focus {
  border-color: var(--logo-button-color);
}

.modal-form-field-comment {
  margin-bottom: 16px;
}

.form-input-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment:focus {
  border-color: var(--logo-button-color);
}

.modal-form-privacy {
  margin-bottom: 24px;
}

.modal-form-agreement {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);

  align-items: center;
  gap: 8px;
}

.checkbox-form:checked + .modal-form-agreement > .modal-form-description {
  background-color: var(--link-hover-color);
  fill: var(--second-white-color);
  border: none;
}

.modal-form-description {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: var(--logo-button-color);

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
}

.modal-button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: var(--logo-button-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-white-color);
  margin: 0 auto;
  margin-top: 24px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/*  */
